In [2]:
import pandas as pd
d1 = pd.read_csv(r"C:\Users\nibed\Desktop\Freelance\Frogs_MFCCs.csv")
d1.head()

,MFCCs_ 1,MFCCs_ 2,MFCCs_ 3,MFCCs_ 4,MFCCs_ 5,MFCCs_ 6,MFCCs_ 7,MFCCs_ 8,MFCCs_ 9,MFCCs_10,...,MFCCs_17,MFCCs_18,MFCCs_19,MFCCs_20,MFCCs_21,MFCCs_22,Family,Genus,Species,RecordID
0,1.0,0.152936,-0.105586,0.200722,0.317201,0.260764,0.100945,-0.150063,-0.171128,0.124676,...,-0.108351,-0.077623,-0.009568,0.057684,0.118680,0.014038,Leptodactylidae,Adenomera,AdenomeraAndre,1
1,1.0,0.171534,-0.098975,0.268425,0.338672,0.268353,0.060835,-0.222475,-0.207693,0.170883,...,-0.090974,-0.056510,-0.035303,0.020140,0.082263,0.029056,Leptodactylidae,Adenomera,AdenomeraAndre,1
2,1.0,0.152317,-0.082973,0.287128,0.276014,0.189867,0.008714,-0.242234,-0.219153,0.232538,...,-0.050691,-0.023590,-0.066722,-0.025083,0.099108,0.077162,Leptodactylidae,Adenomera,AdenomeraAndre,1
3,1.0,0.224392,0.118985,0.329432,0.372088,0.361005,0.015501,-0.194347,-0.098181,0.270375,...,-0.136009,-0.177037,-0.130498,-0.054766,-0.018691,0.023954,Leptodactylidae,Adenomera,AdenomeraAndre,1
4,1.0,0.087817,-0.068345,0.306967,0.330923,0.249144,0.006884,-0.265423,-0.172700,0.266434,...,-0.048885,-0.053074,-0.088550,-0.031346,0.108610,0.079244,Leptodactylidae,Adenomera,AdenomeraAndre,1

In [3]:
d2=d1[['Family','Genus','Species']]
d2.info()
d2.columns=[0,1,2]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7195 entries, 0 to 7194
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Family   7195 non-null   object
 1   Genus    7195 non-null   object
 2   Species  7195 non-null   object
dtypes: object(3)
memory usage: 168.8+ KB

In [5]:
from pyECLAT import ECLAT
eclat_instance = ECLAT(data=d2, verbose=True)

100%|█████████████████████████████████████████████████████████████████████████████████| 22/22 [00:00<00:00, 174.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 22/22 [00:00<00:00, 1804.92it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 22/22 [00:00<00:00, 881.47it/s]

In [6]:
get_ECLAT_indexes, get_ECLAT_supports = eclat_instance.fit(min_support=0.004,
                                                           min_combination=2,
                                                           max_combination=3,
                                                           separator=' & ',
                                                           verbose=True)

12it [00:00, 110.21it/s]

Combination 2 by 2

231it [00:02, 95.39it/s]
5it [00:00, 44.44it/s]

Combination 3 by 3

1540it [00:17, 89.64it/s]

In [13]:
s= pd.DataFrame(get_ECLAT_supports.items()) 
s.columns = ['Label Set','Support']